<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Webtitle>YQCMS</Webtitle>
  <WebDescription>基于MVC3,EF,Linq,Json,XML,Jquery等技术的开源网站项目</WebDescription>
  <Weburl>http://172.16.101.35:320</Weburl>
  <Icp>陕A124512</Icp>
  <WebPath>/</WebPath>
  <IndexPagerCount>12</IndexPagerCount>
  <CatePagerCount>10</CatePagerCount>
  <CommentPagerCount>10</CommentPagerCount>
  <NotePagerCount>30</NotePagerCount>
  <DecorateImgCount>50</DecorateImgCount>
</GeneralConfigInfo>